<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>修改密码</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container" style="width: 70%;">
<div th:replace="layout/header :: header"></div>
<br/>
<h1>修改密码</h1>
<br/><br/>
<div class="with:60%">


    <form class="form-horizontal"   th:action="@{/updatepassword}"  method="post" >
        <input type="hidden" name="id" th:value="${id}">
        <div class="form-group">`
            <label for="password" class="col-sm-2 control-label">原密码</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" name="oldPassword"  id="password" placeholder="enter password"/>
            </div>
        </div>
        <div class="form-group">
            <label for="password2" class="col-sm-2 control-label" >新的密码</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" name="newPassword" id="password2" placeholder="enter password"/>
            </div>
        </div>

        <div class="form-group">
            <label   class="col-sm-2 control-label"></label>
            <div class="col-sm-6">
                <div th:if="${errorMsg != null}"  class="alert alert-danger" role="alert" th:text="${errorMsg}">

                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
                <input type="submit" value="提交" class="btn btn-info" />
                &nbsp; &nbsp; &nbsp;
                <input type="reset" value="重置" class="btn btn-info" />
            </div>
        </div>
    </form>
</div>
</body>
</html>
